* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*body and background picture*/
html body {
    height: 100%;
    width: 100%;
}

.background {
    background-image: 
    linear-gradient(
    rgba(65, 106, 182, 0.678),
    rgba(64, 35, 83, 0.37)
        
    ),
    url('img/beach.jpg');
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
}
/*end of body and background*/
/*
/*header section*/
header {
    padding: 10px;
    background-color:rgba(12, 42, 59, 0.61);
    height: 85px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    background-color: black;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
}

.header a:hover {
    color:white;
}

.header a:active {
    color: yellow;
}
/*end of header section*/
/*
*/
h1 {/*title of page*/
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

/*project section*/
.container {
    margin: 10px;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    color: whitesmoke;
}

img {
    margin-top: 10px;
}
/*end of project section*/
/*
/*footer*/
.footer {
    height: 80px;
    margin-top: 30px;
    text-align: center
}

.footer a:visited {
    color: rgb(97, 33, 88);
}

.footer a:active {
    color: yellow;
}

/*arrow to click to next page*/
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
}
/*end of footer section*/

