* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

.background {
    background-image: 
    linear-gradient(
    rgba(113, 147, 209, 0.699),
    rgba(49, 21, 61, 0.39)
        
    ),
    url('img/beach.jpg');
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(27, 55, 71, 0.61);
}

.header ul li {
    display: inline-block;
    margin-left: 35px;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
}

.header a:hover {
    color:black;
}

h1 {
    color: whitesmoke;
}

form {
    padding-top: 12px;
}

div.card.mb-3 {
    margin-left: 50px;
    margin-top: 20px;
    border-color: rgba(21, 97, 46, 0.349);
    border-style: solid 4px;
}

div.col-md-8 {
    background-color: rgb(153, 185, 214);
}

.footer nav {
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center
}

.footer a:visited {
    color: rgb(112, 29, 71);
}

nav a:active {
    color: yellow;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
}

