* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html body {
    height: 100%;
    width: 100%;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url('img/beach.jpg');
    backdrop-filter: blur(2px);
}

.background {
    background-image: 
    linear-gradient(
    rgba(65, 106, 182, 0.678),
    rgba(64, 35, 83, 0.37)
        
    ),
    url('img/beach.jpg');
}

header {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    height: 12%;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 15px;
}

.header ul {
    list-style-type: none;
}

.header ul li {
    display: inline-block;
    margin-left: 35px;
    font-size: 20px;
}

header button {
    background-color: white;
    border: 2px solid rgb(20, 140, 161);
    padding: 3px 7px;
    transition-duration: 0.4s;
    border-radius: 20%;
}

button a:link {
    color: black;
    text-decoration: none;
}

button a:visited {
    color: rgb(112, 29, 71);
}

button:hover {
    background-color: rgb(84, 138, 209);
}

button a:active {
    color: yellow;
}

p.hello {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
    padding: 10px;
}

h1 {
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: rgba(107, 167, 187, 0.685);
}

.container {
    margin: 10px;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.container section.first {
    color: black;
    padding: 12px 12px 12px 12px;
    width: 100%
    
}

.container section.second {
    color: black;
    padding: 12px 12px 12px 12px;
    width: 100%;
}

h2 {
    margin-top: 20px;
    color: whitesmoke;
}

img {
    margin-top: 10px;
}

.footer {
    height: 80px;
    margin-top: 30px;
    text-align: center
}

.footer a:active {
    color: yellow;
}

nav a:visited {
    color: rgb(97, 33, 88);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
}


